<phpunit
        backupGlobals="true"
        backupStaticAttributes="false"
        bootstrap="vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
        mapTestClassNameToCoveredClassName="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        strict="false"
        verbose="true">
    <testsuites>
        <testsuite name="All">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>